extends layout
block content
    img(id='imgLogo', src='/images/logo.png')
    #profile
        a(href='/logout')
            p(id='pUser') #{user.username}
            p(id='pUserId') #{user._id}
            img(id='imgProfile', src='/images/user.png')
            p(id='pLogout') Click to logout
    h1 Race: #{race.name}
    table(id='tableInfo')
        tr
          td Description:
          td
            p(id='pRaceDescription') #{race.description}
        tr
            td Start:
            td
                p(id='pRaceStart') #{race.start_date}
        tr
            td Satus:
            td
                p(id='pRaceStatus') #{race.status}
        tr
            td Id:
            td
                p(id='pRaceId') #{race._id}

    a(href='#', id='aCheckin' class='aButton') Checkin

    h1(id='h1Cafe') Cafe's
    h1(id='h1CheckIn') Checkin's
    table(id='tableWaypointsRace', class='table')
    table(id='tableCheckIns', class='table')